*{
    margin: -14px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: white;
}
.logo{
    justify-content: center;
    padding-left: 20%;
}
.heading{
    text-align: center;
    margin-top: 25px;
    background-color: #24262b;
}
.heading h1{
    font-size: 50px;
    color:#0ef;
    margin-bottom: bottom 10px;
}
.heading p{
    font-size: 20px;
    color: #0ef;
    margin-bottom: 50px;
}

.about-us{
    display: flex;
    align-items: center;
    width: 85%;
    margin:auto;
}
.content{
    padding:35px;
}
.content h2{
    color:#36455c;
    font-size: 24px;
    margin:15px 0px;
    text-align: center;
}
.content p{
    color: #666;
    font: size 18px;
    line-height: 1.5;
    margin:15px 0px;
    text-align: center;
}
.read-more-btn{
    display: inline-block;
    color: #fff;
    background-color: #0084ff;
    border:none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor:pointer;
    justify-content: center;    
}
.read-more-btn:hover{
    background-color: #006dd6;
}
@media(max-width:768px){
    .about-us{
        flex-direction: column;
    }
    .about-us img{
        flex: 0 100%;
        max-width: 100%;
    }
    .content{
        flex: 0 100%;
        max-width: 100%;
        padding: 15px;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #0ef;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.footer-col ion-icon{
    color: #fff;
    font-size: 53px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
    text-align: center;
}




